/Boss.class
/Diego.class
/Gustavo.class
/JugadorDecorador.class
/JugadorX.class
/Kelly.class
/Maiiiiiin.class
/Mariney.class
/RegularPlayer.class
/Estado.class
/NewGame.class
/Muerto.class
/Muriendo.class
/Game.class
/Muerte.class
/Persona.class
